@{
    ViewData["Title"] = "Home Page";

}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <html>
        <h1>c'est laprtie login</h1>
    </html>